<footer
    class="bg-gradient-to-r from-blue-500 via-purple-600 to-pink-500 text-white py-8 px-4 text-white  min-h-screen w-full flex justify-center items-center ">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6">
        <!-- Company Section -->
        <div>
            <h3 class="text-lg font-semibold mb-2 relative">
                Company
                <span class="block w-3/5 h-1 bg-orange-500 mt-1"></span>
            </h3>
            <div class="flex flex-col space-y-2">
                <a href="http://localhost:8080/"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white">Home</a>
                <a href="http://localhost:8080/Services"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white">Service
                    us</a>
                <a href="http://localhost:8080/Contact"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white">Contact
                    Us</a>
                <a href="http://localhost:8080/Gallery"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white">Gallery</a>
            </div>
        </div>

        <!-- Important Links Section -->
        <div>
            <h3 class="text-lg font-semibold mb-2 relative">
                Important Links
                <span class="block w-3/5 h-1 bg-orange-500 mt-1"></span>
            </h3>
            <div class="flex flex-col space-y-2">
                <a href="https://www.incometax.gov.in/iec/foportal/"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white"
                    target="_blank">Income Tax
                    Dept.</a>
                <a href="https://www.cbic.gov.in/"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white"
                    target="_blank">Central
                    Board of
                    Excise & Customs</a>
                <a href="https://www.mca.gov.in/content/mca/global/en/home.html"
                    class="hover:translate-x-1 transition-transform text-decoration-none text-white"
                    target="_blank">Ministry of
                    Corporate
                    Affairs</a>
            </div>
        </div>

        <!-- Contact Us Section -->
        <div>
            <h3 class="text-lg font-semibold mb-2 relative">
                Contact Us
                <span class="block w-3/5 h-1 bg-orange-500 mt-1"></span>
            </h3>
            <div class="flex flex-col space-y-2">
                <a href="https://www.google.com/maps/place/B+L+S+And+Co+(+C.A.+Bhanwar+Lal+Saini+)/@27.1564259,75.7222671,775m/data=!3m2!1e3!4b1!4m6!3m5!1s0x396dab001dd37765:0xfe76e950f929b787!8m2!3d27.1564259!4d75.724842!16s%2Fg%2F11wj01n7y0?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                    class="flex items-center hover:translate-x-1 transition-transform text-decoration-none text-white"
                    target="_blank">
                    <i class="fa-solid fa-location-dot mr-2"></i> Krishna Vihar, Jaipur Road, Near Shivdhara Hospital chomu
                </a>
                <a href="#"
                    class="flex items-center hover:translate-x-1 transition-transform text-decoration-none text-white">
                    <i class="fa-solid fa-phone mr-2"></i> +91-9784343068
                </a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#sent?compose=DmwnWrRtsflkcnBCQmCQCgczwNsrBNJHTpJkbdhXxNHxWTCWTFQZjqzTvsZPmxSfRDZmXMjVzqXL"
                    class="flex items-center hover:translate-x-1 transition-transform text-decoration-none text-white"
                    target="_blank">
                    <i class="fa-solid fa-envelope mr-2"></i> cabhanwarlalsaini@gmail.com
                </a>
            </div>
        </div>

        <!-- Follow Us Section -->
        <div>
            <h3 class="text-lg font-semibold mb-2 relative text-white">
                Follow Us
                <span class="block w-3/5 h-1 bg-orange-500 mt-1"></span>
            </h3>
            <div class="flex space-x-4 text-xl mt-2">
                <a href="https://www.instagram.com/bls_and_co/"
                    class="hover:text-orange-500 transition-colors text-white" target="_blank" style="font-size: 30px;">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/people/CA-Bhanwar-Lal-Saini/100010800551889/?mibextid=ZbWKwL"
                    style="font-size: 30px;" class="hover:text-orange-500 transition-colors text-white" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="hover:text-orange-500 transition-colors text-white" style="font-size: 30px;">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=9257971217" target="_blank"
                    class="hover:text-orange-500 transition-colors text-white" style="font-size: 30px;">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="/script/script.js"></script>