<%- include("./includes/header.ejs") %>
    <%- include("./includes/Navbar.ejs") %>
        <h1 class="text-4xl font-bold text-gray-800 text-center">
            <span class="text-orange-500">Grade</span> Opening
        </h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/degri.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_2.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_3.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_4.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_5.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_6.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_7.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_4.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/Gallery/Gallery_6.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
        </div>

        <%- include("./includes/footer.ejs") %>
            <script src="/script/script.js"></script>