<%- include("./includes/header.ejs") %>
    <%- include("./includes/Navbar.ejs") %>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="/images/service-1.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Accounting Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">
                            Compliance
                            of
                            GST, Income
                            Tax and other Statutory Laws applicable is
                            practically impossible
                            without proper books of accounts</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/Company Secretarial Services-3.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Company Secretarial Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">The Companies Act, 2013 primarily
                            regulates the formation, financing,
                            functioning and winding
                            up of companies in India</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/gst-1.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>GST Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">GST is the biggest tax reform in India,
                            tremendously improving ease of
                            doing business and
                            increasing the taxpayer base in India</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/salider/income tax.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Income Tax Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">We specialize in providing Income tax
                            services to individuals, small
                            scale and medium scale
                            businesses which are highly effective</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/salider/Incorporation.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Incorporation Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">Private limited company is the most
                            ordinary legal corporate entity in
                            India. A company
                            register is a register of organization</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/salider/payroll.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Payroll Services</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">A company’s payroll is one of the most
                            important aspects of a
                            company’s operations. Aside
                            from the fact that the timely</p>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/salider/tax tips.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tax Tips</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">Taxpayers have the right to retain an
                            authorized representative of
                            their choice to represent
                            them when they are dealing with the IRS</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/salider/audit&ass.jpg" class="d-block w-100" alt="..."
                        style="height: 60vh; background-size: cover;">
                    <div class="carousel-caption d-none d-md-block text-black">
                        <h5>Audit & Assessment</h5>
                        <p class=" bg-secondary font-bold text-xl; rounded-3xl">The purpose of an audit is focused on
                            compliance. An audit measures
                            the current reality, but
                            it then compares it against a specific standard.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden t">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Content Section -->
        <div class="text-center mt-8 max-w-4xl mx-auto">
            <h1 class="text-3xl font-semibold text-orange-500">What is SGST, CGST, IGST and UTGST?</h1>
            <p class="text-lg text-gray-600 mt-4">
                Under the GST law, the central government will collect CGST and SGST or only IGST respectively,
                depending on
                whether the transaction is inter-state or intra-state.
            </p>
        </div>

        <!-- Types of GST Section -->
        <div class="mt-12 text-center max-w-4xl mx-auto">
            <h2 class="text-2xl font-semibold text-gray-700">Types of GST in India</h2>
            <p class="text-lg text-gray-600 mt-4">
                Unlike the pre-GST regime with multiple taxes, GST simplifies the process with four components:
                CGST, SGST,
                UTGST, and IGST.
            </p>
        </div>

        <!-- IGST Section -->
        <div class="mt-12 px-4 lg:px-16 max-w-4xl mx-auto">
            <h2 class="text-2xl font-semibold text-center text-gray-700">IGST Full Form and Applicability</h2>
            <p class="text-lg text-gray-600 text-center mt-4">
                The full form of IGST is Integrated Goods and Services Tax. Under GST, IGST applies to all
                interstate
                supplies of goods/services or across two or more states/UTs.
            </p>
            <ul class="list-disc mt-4 ml-12 lg:ml-28 text-lg text-gray-600">
                <li>Exports are zero-rated.</li>
                <li>Tax is shared between Central and State governments.</li>
            </ul>
        </div>
        <section class="py-12">
            <div>
                <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <!-- Service Card-1 -->
                    <div class="relative group">
                        <img src="/images/GST/CGST_!.jpg" alt="Accounting Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-black">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold text-center mt-5">CGST</h1>
                    </div>

                    <!-- Card 2 -->
                    <div class="relative group">
                        <img src="/images/GST/igst-2.jpg" alt="Company Secretarial Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl mt-5 font-bold text-center">IGST
                        </h1>
                    </div>
                    <!-- Card 3 -->
                    <div class="relative group">
                        <img src="/images/GST/utgst-3.jpg" alt="GST Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">UTGST</h1>

                    </div>
                    <!-- Card 4 -->
                </div>
        </section>
        <!--service-card-2-->
        <div>
        </div>
        <section class="py-12">
            <div>
                <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <div class="relative group">
                        <img src="/images/CIRCULAR/CGST_CIRCULAR-1.webp" alt="Income Tax Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">CGST CIRCULAR
                        </h1>
                    </div>
                    <!-- Card 5 -->
                    <div class="relative group">
                        <img src="/images/CIRCULAR/igst circular-2.webp" alt="Incorporation Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">IGST CIRCULAR</h1>
                    </div>
                    <!-- Card 6 -->
                    <div class="relative group">
                        <img src="/images/CIRCULAR/compensation case-3.jpg" alt="Payroll Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">COMPENSATION CASE</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-card-3 -->
        <div>
        </div>
        <section class="py-12">
            <div>
                <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <div class="relative group">
                        <img src="/images/CIRCULAR/GST-r_1.jpg" alt="Income Tax Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">GST REGISTRATION
                        </h1>
                    </div>
                    <!-- Card 5 -->
                    <div class="relative group">
                        <img src="/images/CIRCULAR/return file.jpg" alt="Incorporation Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">GST RETURN FILING</h1>
                    </div>
                    <!-- Card 6 -->
                    <div class="relative group">
                        <img src="/images/CIRCULAR/input tax credit.jpg" alt="Payroll Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">INPUT TEX CREDIT</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-card-4-->
        <div>
        </div>
        <section class="py-12">
            <div>
                <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <div class="relative group">
                        <img src="/images/CIRCULAR/hsn code.webp" alt="Income Tax Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">HSN CODE
                        </h1>
                    </div>
                    <!-- Card 5 -->
                    <div class="relative group">
                        <img src="/images/CIRCULAR/sac code.jpg" alt="Incorporation Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">SAC CODE</h1>
                    </div>
                    <!-- Card 6 -->
                    <div class="relative group">
                        <img src="/images/GST2 IMG.webp" alt="Payroll Services"
                            class="w-full h-64 object-cover rounded-lg shadow-lg transition-transform transform group-hover:scale-105">
                        <div
                            class="absolute inset-0 bg-gray-0 bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                            <a href="#" class="ml-4 text-white">
                            </a>
                        </div>
                        <h1 class="text-black text-xl font-bold mt-5 text-center">GST</h1>
                    </div>
                </div>
            </div>
        </section>
        <hr style="color: red;">
        <%- include("./includes/footer.ejs") %>

            <script src="/script/script.js"></script>
            </body>

            </html>