<%- include("./includes/header.ejs") %>
  <%- include("./includes/Navbar.ejs") %>
    <div class="w-[50%] absolute top-[20%] left-[30%] ">
      <%- include("./includes/flash.ejs") %>
    </div>


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="/images/Gallery/degri.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Accounting Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">
              Compliance
              of
              GST, Income
              Tax and other Statutory Laws applicable is
              practically impossible
              without proper books of accounts</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/Company Secretarial Services-3.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Company Secretarial Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">The Companies Act, 2013 primarily
              regulates the formation, financing,
              functioning and winding
              up of companies in India</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/gst-1.jpg" class="d-block w-100" alt="..." style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>GST Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">GST is the biggest tax reform in India,
              tremendously improving ease of
              doing business and
              increasing the taxpayer base in India</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/salider/income tax.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Income Tax Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">We specialize in providing Income tax
              services to individuals, small
              scale and medium scale
              businesses which are highly effective</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/salider/Incorporation.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Incorporation Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">Private limited company is the most
              ordinary legal corporate entity in
              India. A company
              register is a register of organization</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/salider/payroll.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Payroll Services</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">A company’s payroll is one of the most
              important aspects of a
              company’s operations. Aside
              from the fact that the timely</p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/salider/tax tips.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Tax Tips</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">Taxpayers have the right to retain an
              authorized representative of
              their choice to represent
              them when they are dealing with the IRS</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/images/salider/audit&ass.jpg" class="d-block w-100" alt="..."
            style="height: 60vh; background-size: cover;">
          <div class="carousel-caption d-none d-md-block text-black">
            <h5>Audit & Assessment</h5>
            <p class=" bg-secondary font-bold text-xl; rounded-3xl">The purpose of an audit is focused on
              compliance. An audit measures
              the current reality, but
              it then compares it against a specific standard.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden t">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section id="who_are_we" class="p-10 md:max-h-[90vh] my-20">
      <div class=" text-center">
        <h2 class="text-4xl"> <b>BLS AND COMPANY</b></h2>
        <h1 class="text-6xl my-6 text-purple-600 font-bold">WHO ARE WE ?</h1>
        <article class="mt-16">
          <p class="text-justify text-lg">Chartered Accountants is a professionally Managed Legal, Taxation &
            Accountancy Consultancy firm offering best and credible services to the clients. Chartered Accountants
            offers one stop solution for all business related compliances with our best on-time services by our experts.
            We are providing services of Business Set-up in India, Accounting & Taxation Services, Secretarial Services,
            Management Consulting Services Along with this, we also offer issuance of Import-Export Code, Audit &
            Assurance Services, Tax Consultancy and Legal Drafting & Regulatory Approvals.</p>
        </article>
      </div>
    </section>
    <div class="container mx-auto p-4" style="background-color: #f9f9f9;">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="relative">
          <img alt="Decorative pillows on a bed" class="w-full  object-cover" style="height: 600px;"
            src="/images/ca img bg.jpg" width="600" />
        </div>
        <div class="flex flex-col justify-center p-8" style="color: black;">
          <h1 class=" font-bold mb-4 class= text-lg-start">
            Want to know more about us?
          </h1>
          <p class="text-sm-start">BLS AND COMPANY Providing Professional services regarding Accounting, Taxation Laws
            (Income
            Tax, GST), Business Consultancy in Artificial Intelligence (AI), Modernized & Digitalized Market. Our
            service includes a comprehensive consultation to help identify gaps and opportunities, a comprehensive
            report that includes a project plan with timelines and milestones, a cost analysis, and a schedule. We also
            offer a suite of quality products that will help you get there quickly and smoothly. That’s how we ensure
            your success.</p>
          <h4 style="text-align: center;">CA BHANWAR LAL SAINI</h4>
          <h3 style="text-align: center;">+91-9784343068</h3>
          <hr>
        </div>
      </div>
    </div>
    <%- include("./includes/footer.ejs") %>
      </body>

      </html>