<%- include("./includes/header.ejs") %>
    <%- include("./includes/Navbar.ejs") %>

        <div>
            <div class="container p-2  ">
                <div class="row g-2">
                    <div class="col-6">
                        <a href="https://tallysolutions.com/accounting-software/" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  font-bold tex" style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Accounting</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://auditonline.gov.in/" style="text-decoration: none;" target="_blank">
                            <div class="p-3  font-bold" style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Auditing</h4>
                            </div>

                    </div>
                    <div class="col-6">
                        <a href="https://services.gst.gov.in/services/quicklinks/registration"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>GST Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://services.gst.gov.in/services/quicklinks/registration"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Return</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container  ">
                <div class="row g-2">
                    <div class="col-6">
                        <a href="https://www.incometax.gov.in/iec/foportal/" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Income Tex Return</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://cleartax.in/s/tax-audit-section-44ab" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Tex Auditing</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.mca.gov.in/content/mca/global/en/foportal/fologin.html"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Company LLP Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://registration.telangana.gov.in/" style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Partnerships Firm Registration
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container p-2   ">
                <div class="row g-2">
                    <div class="col-6">
                        <a href="https://thenationaltrust.gov.in/auth/guidelines.php" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Society and Trust
                                    Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://ipindia.gov.in/" style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Trade Mark Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://udyamregistration.gov.in/UdyamRegistration.aspx" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Msme Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://udyamregistration.gov.in/UdyamRegistration.aspx" style="text-decoration: none;"
                            target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Udham Aadhar Registration</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container  ">
                <div class="row g-2">
                    <div class="col-6">
                        <a href="https://br.raj.nic.in/br/Home.aspx" style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>San Registration</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>New Pan Card</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.pan.utiitsl.com/panonline_ipg/forms/csfPan.html/csfPreForm"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i> Pan Card
                                    correction</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://thenationaltrust.gov.in/auth/guidelines.php" style="text-decoration: none;"
                            target="_blank"></a>
                        <div class="p-3  " style="color: black;">
                            <h4><i class="fa-solid fa-up-right-from-square"></i>Income Tax Notice
                                Compliance</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-2  ">
                <div class="row g-2">
                    <div class="col-6">
                        <a href="https://mpa.gov.in/sites/default/files/Model_DPR_Final%202.0.pdf"
                            style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Project Report</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://foscos.fssai.gov.in/" style="text-decoration: none;" target="_blank">
                            <div class="p-3  " style="color: black;">
                                <h4><i class="fa-solid fa-up-right-from-square"></i>Food Licence Etc.</h4>
                            </div>
                        </a>
                    </div>
                    <div class="p-3 text-center  ">
                        <h3>CA Bhanwar Lal Saini
                            <br>+91-9784343068
                        </h3>
                    </div>
                </div>
            </div>
            <hr style="color: red;">
            <%- include("./includes/footer.ejs") %>
                </body>

                </html