<%- include("./includes/header.ejs") %>
    <%- include("./includes/Navbar.ejs") %>
        <div class="responsive-container-block outer-container">
            <div class="responsive-container-block inner-container">
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
                    <p class="text-blk heading-text">
                        our team
                    </p>
                    <p class="text-blk sub-heading-text">
                        With their expertise on record, chartered accountants play a role in preparing tax returns,
                        detailing taxes and providing general tax guidelines to your portfolio.
                    </p>
                </div>
                <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                        <div class="card">
                            <img class="card-img" src="/images/profile/raesh_ji.png">
                            <p class="text-blk name">
                                Rakesh Saini
                            </p>
                            <p class="text-blk position">
                                Accountants
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                        <div class="card">
                            <img class="card-img" src="/images/profile/monu ji.png">
                            <p class="text-blk name">
                                Monu Saini
                            </p>
                            <p class="text-blk position">
                                Accountants And Editor
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                        <div class="card">
                            <img class="card-img" src="/images/profile/mohan ji.png">
                            <p class="text-blk name">
                                Mohan Saini
                            </p>
                            <p class="text-blk position">
                                Web Developer
                            </p>
                        </div>
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                        <div class="card">
                            <img class="card-img" src="/images/profile/Mukesh_ji.png">
                            <p class="text-blk name">
                                Mukesh Saini
                            </p>
                            <p class="text-blk position">
                                Accountants
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./includes/footer.ejs") %>
            </body>

            </html